<%= render partial: 'settings_toolbar' %>
<h1>Settings</h1>

<table>
  <thead>
  <tr>
    <td>Key</td>
    <td>Value</td>
    <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <% @settings.each do |setting| %>
    <tr>
      <td><%= setting.key %></td>
      <td><%= setting.value %></td>
      <td><%= link_to("Edit", edit_setting_path(setting.id)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
